@charset "UTF-8";

body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82 );
}
section#login{
    height: 300px;
    width: 620px;
}
#image{
    float: left;
    width: 30%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}
#form{
    width: 70%;
    height: 100%;
    float: right;
}
input.info{
    width: 89%;
    transform: translate();
}
#enter{
    width: 414px;
}
a{
    padding: 7px 136px;
}